
    <div class="main">


        <div class="container">
            <div class="middle">
                <div id="login">

                    <form [formGroup]="formGroupLogin">

                            <p><span class="fa fa-user"></span> <input type="text" name="username"
                                    Placeholder="Username" formControlName="username"> </p>

                            <!-- JS because of IE support; better: placeholder="Username" -->
                            <p><span class="fa fa-lock"></span> <input type="password" name="password"
                                    Placeholder="Password" formControlName="password"> </p>
                            <!-- JS because of IE support; better: placeholder="Password" -->

                            <div class="d-flex justify-content-center">
                                <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text"
                                        href="#">Forgot password?</a></span>
                                <button type="button" class="btn btn-dark" (click)="signIn()">Sign In</button>
                            </div>


                    </form>

                    <div class="clearfix"></div>

                </div> <!-- end login -->
                <div class="logo"> IBM

                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </div>

